{{ with .Params.dedicated_cpu_link }}
<blockquote class="dedicated_cpu_link">
  <strong class="callout-title">Dedicated CPU instances are available!</strong>
  <div>@fixme's Dedicated CPU instances are ideal for CPU-intensive workloads like those discussed in this guide. To learn more about Dedicated CPU, read our <a href="https://blog.fixMe/2019/02/05/introducing-@fixme-dedicated-cpu-instances?utm_source=library&utm_medium=banner&utm_campaign=dedicated_cpu">blog post</a>. To upgrade an existing @fixme to a Dedicated CPU instance, review the <a href="/docs/platform/disk-images/resizing-a-@fixme/">Resizing a @fixme</a> guide.</div>
</blockquote>
{{ end }}